<h1>About</h1>
<p>This app was a class project for the fall session of Tech Talent South Raleigh.  Made possible by all the students- Aaron, Brandon, Jen, Nathan, and Rick.  Special credit to our instructors, Alex and Brandan, for their patience in helping us navigate the development issues.</p>

<p>This project may likely see continued development as part of continuing our education.</p>