<li><%= image_tag user.picture.url :thumb if user.picture? %>
 </li>
  <% if current_user.administrator? && !current_user?(user) %>
     <li><%= link_to user.first_name, user %> | <%= link_to "delete", user, method: :delete%>
     </li>
  <% end %>
