<li>
 <%= image_tag user.picture.url :thumb if user.picture? %> <%= link_to user.username, user %></li>
  <% if current_user.administrator? && !current_user?(user) %>
     <li><%= link_to user.first_name, user %><%= link_to "delete", user, method: :delete,
                                  data: { confirm: "You sure?" } %>
     </li>
  <% end %>
