<li id="micropost-<%= post.id %>">
  <span class="user"><%= link_to post.user.username, post.user %></span>
  <span class="content"><%= post.body %></span>
  <span class="timestamp">
    Created <%= time_ago_in_words(post.created_at) %> ago.
  </span>
</li>