<footer class="footer">
  <small>
    <strong>Codez</strong> built by students of <a href="http://www.techtalentsouth.com/">Tech Talent South.</a>
  </small>
    <ul>
      <li><a href="http://www.techtalentsouth.com/">
        <%= image_tag "tts_logo.png" , alt: "Tech Talent South" %>
      </a></li>
    </ul>
  
</footer>