<footer class="footer">
  <small>
    Codez built by students of <a href="http://www.techtalentsouth.com/">Tech Talent South.</a>
  </small>
  <nav>
    <ul>
      <li><a href="http://www.techtalentsouth.com/">
        <%= image_tag "tts_logo.png" , alt: "Tech Talent South" %>
      </a></li>
    </ul>
  </nav>
</footer>